/* 
/* Your CSS Code here. */
.holder{
	display: flex;
	flex-wrap: wrap;
    justify-content:center;
	align-item:center;
	font-weight: 550;
	font-size: 40px;
.item-3{
	height:120px;
	width:120px;	
	background-color:green;
}
.item-1{
	height:120px;
	width:120px;	
	background-color:red;
}
.item-2{
	height:120px;
	width:120px;	
	background-color:blue;
}


